/* Styling on the card */
.card {
  background: var(--paleTransparent) !important;
  border-radius: 2px;
  margin: 1rem;
  margin-bottom: 100px;
  color: var(--light) !important;
  text-align: center;
}
/* card image */
.projectImage {
  width: 100%;
  border-radius: 50%;
  /* border: solid 2px var(--light); */
}
/* card text */
.card .content ul {
  list-style-type: none;
}
.card .content ul li {
  margin-top: 18px;
}
.projectLi {
  font-size: small;
}


/* styling on the project gallery */
.projectGalleryTitle {
  padding: 10px;
}
.projects {
  padding-top: 100px;
  color: var(--light);
}
.carouselContainer {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-width: 1000px;
}
/* making the left and right cards smaller */
.sideProject {
  width: 50%;
}

/* styling on the previous and next arrows */
.buttonSpan {
  height: 20%;
  top: 450px !important;
  bottom: auto;
}


/* hide left and right project cards at a certain screen size */
@media only screen and (max-width: 760px) {
  .hide {
    display: none !important;
  }
}