/* main paragraph of text */
.aboutText {
  background-color: var(--whiteOpaque);
  border-radius: 30px;
  color: var(--darkBlack);
}
.aboutMeText {
  position: relative;
  margin: 20px;
  bottom: 300px;
}

.headshot {
  margin: 100px 0px;
  width: 400px;
  border-radius: 50%;
}
.flexColumn{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.leaf {
  position: relative;
  bottom: 350px;
  right: 120px;
  margin: 20px;
  width: 300px;

}