/* main paragraph of text */
.aboutText {
/* background-color: var(--lightOpaque); */
  border-radius: 30px;
  color: var(--white);
}
.aboutMeText {
  position: relative;
  margin: 20px;
  bottom: 300px;
}

.headshot {
  margin: 20px;
  width: 400px;
  border-radius: 50%;
}
.flexColumn{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.leaf {
  position: relative;
  bottom: 290px;
  right: 120px;
  margin: 20px;
  width: 300px;

}