.container {
  padding: 30px 30px 60px 30px;
}

.illustration {
  display: block;
  width: 63%;
  padding-top: 80px;
}

.brandStatement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statement {
  color: var(--white);
  font-size: 15px;
}

/* typed effect for who I am */
.typingTitle {
  width: min-content;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; /* the cursor */
  animation: typing 3s steps(30, end) forwards, blink 0.75s step-end infinite;
  font-family: monospace;
  display: inline-block;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}