.contact {
  padding: 20px;
}
.formContainer {
  display: flex;
  flex-direction: column;
}

/* form styling */
.form {
  margin: auto;
  padding: 5px;
  padding-top: 150px;
  background-color: transparent;
}
label {
  color: var(--light);
}
.row {
  padding: 3px;
}
input, textArea {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
}
.message {
  height: 200px;
} 
.submitForm {
  padding: 2px 10px 2px 10px;
  background-color: var(--pale) !important;
}
.submitForm:hover {
  background-color: transparent !important;
  border: 2px solid var(--pale) !important;
}
/* at 960px 
.form {
padding-top: */