/* setting colour variables used throughout */
:root {
  /* declaring colour variables */
  --white: #FFFBEF;
  --light: #ffeaae;
    --lightOpaque: #ffeaae80;
  --orange: #fab700;
    --orangeOpaque: #fab70033;
  --green: #b7e09f;
  --dark: #214f4b;
    --darkOpaque: #214f4bd9;
  --darkBlack: #060804;
}


/* styling on all elements */
* {
  font-family: monospace;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-style: oblique;
  padding: 0;
  margin: 0;
  color: (var(--light));
}

h1 {
  font-size: x-large;
}
body {
  background-image: url(/background_cover.png);
  background-size: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}